#div1 {
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-family: 'Aclonica', sans-serif;
    font-size: 4vw;
}

h2 {
    font-family: 'Comfortaa', cursive;
}

h3 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #F2B9B3;
}

h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
}

h6 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px
}

img {
    border: 2px solid #F2E3B3;
}

ul {
    text-align: left;
    padding: 0px 70px;
}

li {
    font-family: 'Dosis', sans-serif;
}

.div2 {
    text-align: center;
}

.text {
    margin: 40px;
    padding: 0px 20px;
}

.container {
    text-align: center;
}

.col {
    border: 1px solid;
    padding: 10px;
    color: #8493BF;
    font-size: 25px
}